name: Build & Publish Maven WAR to Nexus

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Maven Build and Nexus Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '8'
          cache: maven

      - name: Build Maven project
        run: mvn clean package
      - name: List target directory
        run: ls -l target

      - name: Upload WAR to Nexus
        run: |
          mvn deploy:deploy-file \
            -Dfile=target/*.war \
            -DgroupId=org.springframework.samples \
            -DartifactId=spring-petclinic \
            -Dversion=4.2.5-SNAPSHOT \
            -Dpackaging=war \
            -DrepositoryId=github-petclinic \
            -Durl=http://18.215.176.79:8081/repository/github-petclinic/ \
            -Dusername=${{ secrets.NEXUS_USERNAME }} \
            -Dpassword=${{ secrets.NEXUS_PASSWORD }}
