name: Build & Publish Maven WAR to Nexus

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Maven Build and Nexus Publish
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout source code
        uses: actions/checkout@v4

     
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '8'
          cache: maven

     
      - name: Build Maven project
        run: mvn clean package
